.fearTitle{
  font-size: 80px;
  color: #C7EDE4;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

body{
  background-size:cover;
  background-image: url("Images/afraidDark.gif");
}

#explanation{
  font-size: 40px;
  color: white;
  width: 800px;
  text-align: center;
  position: absolute;
  right: 50;
}
