h1{
  color:Black;
  text-align: center;
  font-size: 150px;
}
#horrorTitle{
  color: #52527a;
  text-align: center;
  font-size: 100px;
}
#romanceTitle{
  color: #ff0066;
  text-align: center;
  font-size: 100px;
}
body{
  background-size:cover;
  background-image: url("Images/scary clown.gif");
}
body {
    background-image: url("Images/this.gif");
}
