.Title{
  color:Black;
  text-align: center;
  font-size: 150px;
  font-family: 'Cabin Sketch', cursive;
}



#horrorTitle{
  color: #52527a;
  text-align: left;
  font-size: 100px;
  font-family: 'Special Elite', cursive;

}
#romanceTitle{
  color: #ff0066;
  position: absolute;
      right: 0px;
      width: 300px;
  font-size: 100px;
  font-family: 'Rufina', serif;
}

#Quote{
  font-family: 'Tinos', serif;
  color: #FFFBFC;
  font-size: 40px;

body{
  background-size:cover;
  background-image: url("Images/Picture2.png");
}
